/* Note that the display property for HTML5 elements is already accounted for in normalize.min.css, so that rule is omitted here. */
* {
	border: 0;
	margin: 0;
	padding: 0;
}
html, body, header, main, section {
	font-family: 'Raleway', sans-serif;
	margin: auto;
	max-width: 2200px;
	width: 100%;
}
body {
	background-color: #191919;
	color: #fcfffb;
}
header {
	background: linear-gradient(135deg, red, orange, yellow, green, blue, indigo, violet);
	box-shadow: inset 0 -6px 14px -6px rgba(25, 25, 25, 0.5), inset 0 6px 14px -6px rgba(25, 25, 25, 0.5);
	color: #fcfffb;
	padding: 12px 0px 15px;
	text-align: center;
}
h1 {
	font: 2.9rem 'Francois One', sans-serif;
	text-shadow: 0.05em 0 30px #191919, 0 0.05em 30px #191919, -0.05em 0 30px #191919, 0 -0.05em 30px #191919, -0.05em -0.05em 30px #191919, -0.05em 0.05em 30px #191919, 0.05em -0.05em 30px #191919, 0.05em 0.05em 30px #191919;
}
section {
	max-width: 800px;
	margin: auto;
}
h2 {
	font-family: 'Francois One', sans-serif;
	font-size: 2.5rem;
	text-align: center;
	margin: 25px 0px 15px;
}
p {
	line-height: 1.35rem;
	margin: auto;
	padding: 0px 8% 15px;
}
figure {
	padding-bottom: 25px;
	width: 100%;
}
figure img {
	width: 100%;
}
figcaption {
	text-align: center;
	padding: 2px 8% 0px;
}
a:focus, a:hover, a:link, a:visited, a:active {
	color: #191919;
	outline: none;
}
/* MEDIA QUERIES */
/* first breakpoint, 720px and up */
@media (min-width: 720px) {
	section {
		clear: both;
	}
	p {
		float: left;
		padding-right: 0px;
		width: 40%;
	}
	section figure {
		float: right;
		width: 48%;
	}
}